<div class="desktop-navbar-container">
  <div class="desktop-navbar-content">


    <%= link_to root_path do %>
      <div class="logo">Shop.co</div>
    <% end %>

    <div class="list">
      <p>Shop <%= image_tag("arrow_down.svg", alt: "user") %></p>
      <p>On sale</p>
      <p>New Arrivals</p>
      <p>Brands</p>
    </div>

    <div class="search">
      <div class="input-wrapper">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search for products...">
      </div>
    </div>

    <div class="user-logo">
      <%= image_tag("cart.svg", alt: "cart") %>
      <%= link_to dashboard_path do %>
        <%= image_tag("user.svg", alt: "user") %>
      <% end %>
    </div>

  </div>
</div>
