<div class="home-brand-line-container">
  <div class="home-brand-line-content">
    <%= image_tag("versace.svg", alt: "brand-logo") %>
    <%= image_tag("zara.svg", alt: "brand-logo") %>
    <%= image_tag("gucci.svg", alt: "brand-logo") %>
    <%= image_tag("prada.svg", alt: "brand-logo") %>
    <%= image_tag("calvinklein.svg", alt: "brand-logo") %>
  </div>
</div>
