<div class="home-new-top-container">
  <div class="home-new-top-content">

    <div class="home-new-top-title">
      <h2>New Arrivals</h2>
    </div>

    <div class="home-new-item-container">

      <div class="one-item-container">
        <%= image_tag("item_pic.png", class:"item-img", alt: "item-picture") %>
        <h6>T-shirt with Tape Details</h6>

        <div class="item-avis-container">
          <div class="item-stars-container">
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote_half.svg", class:"star-note", alt: "star-note") %>
          </div>
          <p class="item-note">4.5/<span>5</span></p>
        </div>

        <p class="item-price">$120</p>
      </div>

      <div class="one-item-container">
        <%= image_tag("item_pic.png", class:"item-img", alt: "item-picture") %>
        <h6>T-shirt with Tape Details</h6>

        <div class="item-avis-container">
          <div class="item-stars-container">
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote_half.svg", class:"star-note", alt: "star-note") %>
          </div>
          <p class="item-note">4.5/<span>5</span></p>
        </div>

        <p class="item-price">$120</p>
      </div>

      <div class="one-item-container">
        <%= image_tag("item_pic.png", class:"item-img", alt: "item-picture") %>
        <h6>T-shirt with Tape Details</h6>

        <div class="item-avis-container">
          <div class="item-stars-container">
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote_half.svg", class:"star-note", alt: "star-note") %>
          </div>
          <p class="item-note">4.5/<span>5</span></p>
        </div>

        <p class="item-price">$120</p>
      </div>

      <div class="one-item-container">
        <%= image_tag("item_pic.png", class:"item-img", alt: "item-picture") %>
        <h6>T-shirt with Tape Details</h6>

        <div class="item-avis-container">
          <div class="item-stars-container">
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote_half.svg", class:"star-note", alt: "star-note") %>
          </div>
          <p class="item-note">4.5/<span>5</span></p>
        </div>

        <p class="item-price">$120</p>
      </div>

    </div>

    <div class="home-new-top-link new-arrivals-link">
      <%= link_to "View all", "#" %>
    </div>

    <!-- top selling -->

    <div class="home-new-top-title">
      <h2>Top Selling</h2>
    </div>

    <div class="home-new-item-container">

      <div class="one-item-container">
        <%= image_tag("item_pic.png", class:"item-img", alt: "item-picture") %>
        <h6>T-shirt with Tape Details</h6>

        <div class="item-avis-container">
          <div class="item-stars-container">
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote_half.svg", class:"star-note", alt: "star-note") %>
          </div>
          <p class="item-note">4.5/<span>5</span></p>
        </div>

        <p class="item-price">$120</p>
      </div>

      <div class="one-item-container">
        <%= image_tag("item_pic.png", class:"item-img", alt: "item-picture") %>
        <h6>T-shirt with Tape Details</h6>

        <div class="item-avis-container">
          <div class="item-stars-container">
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote_half.svg", class:"star-note", alt: "star-note") %>
          </div>
          <p class="item-note">4.5/<span>5</span></p>
        </div>

        <p class="item-price">$120</p>
      </div>

      <div class="one-item-container">
        <%= image_tag("item_pic.png", class:"item-img", alt: "item-picture") %>
        <h6>T-shirt with Tape Details</h6>

        <div class="item-avis-container">
          <div class="item-stars-container">
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote_half.svg", class:"star-note", alt: "star-note") %>
          </div>
          <p class="item-note">4.5/<span>5</span></p>
        </div>

        <p class="item-price">$120</p>
      </div>

      <div class="one-item-container">
        <%= image_tag("item_pic.png", class:"item-img", alt: "item-picture") %>
        <h6>T-shirt with Tape Details</h6>

        <div class="item-avis-container">
          <div class="item-stars-container">
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote.svg", class:"star-note", alt: "star-note") %>
            <%= image_tag("starnote_half.svg", class:"star-note", alt: "star-note") %>
          </div>
          <p class="item-note">4.5/<span>5</span></p>
        </div>

        <p class="item-price">$120</p>
      </div>

    </div>

    <div class="home-new-top-link">
      <%= link_to "View all", "#" %>
    </div>


  </div>
</div>
