<div class="home-first-container">
  <div class="home-first-content">
    <div class="home-first-left">
      <h1>Find clothes that matches your style</h1>
      <p>Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
      <%= link_to "Shop Now", "#" %>
      <div class="home-first-quantity-container">

        <div class="home-first-quantity">
          <h2>200+</h2>
          <p>International Brands</p>
        </div>

        <div class="home-first-quantity">
          <h2>2,000+</h2>
          <p>High-Quality Products</p>
        </div>

        <div class="home-first-quantity">
          <h2>30,000+</h2>
          <p>Happy Customers</p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="home-brand-line-container">
  <div class="home-brand-line-content">
    <%= image_tag("versace.svg", alt: "brand-line") %>
    <%= image_tag("zara.svg", alt: "brand-line") %>
    <%= image_tag("gucci.svg", alt: "brand-line") %>
    <%= image_tag("prada.svg", alt: "brand-line") %>
    <%= image_tag("calvinklein.svg", alt: "brand-line") %>
  </div>
</div>
