<div class="home-first-container"></div>

<div class="home-brand-line-container">
  <div class="home-brand-line-content">
    <%= image_tag("versace.svg", alt: "brand-line") %>
    <%= image_tag("zara.svg", alt: "brand-line") %>
    <%= image_tag("gucci.svg", alt: "brand-line") %>
    <%= image_tag("prada.svg", alt: "brand-line") %>
    <%= image_tag("calvinklein.svg", alt: "brand-line") %>
  </div>
</div>
